* {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: url("../assets/moody-jungle.avif");
    background-size: cover;
    margin: 20px 20px 0px 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
    line-height: 1.2;
}

p {
    margin-bottom: 25px;
}

button {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 25px;
    border: none;
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -2.5px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

nav ul {
    display: none;
}

.bold {
    font-weight: bold;
}

.hero {
    margin-bottom: 50px;
}




@media screen and (min-width: 480px) {

p {
    font-size: 1.3em;
}

header {
    margin-bottom: 50px;
}

h1 {
    font-size: 3.3em;
}

nav ul {
    display: flex;
}

nav li {
    padding: 10px;
    font-size: .7em;
    font-family: georgia;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
}

nav img {
    display: none;
}

}